/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}
.about-head {
  color: #551e53;
}

.about-para {
  color: #555555;
  font-size: 25px;
}
